<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->

<widget xmlns = "http://www.w3.org/ns/widgets"

xmlns:gap = "http://phonegap.com/ns/1.0"

id = "com.sachin.s3dstudios"

version = "1.0.0">

<name>S3D Studios</name>

<description>

S3D Studios profile app

</description>

<author href="http://www.s3dstudios.com" email="sachinsshardul@gmail.com">

sachin shardul

</author>

<!-- Customize your app and platform with the preference element. -->

<preference name="phonegap-version" value="2.9.0" />

<preference name="orientation" value="portrait" />

<preference name="target-device" value="universal" />

<preference name="fullscreen" value="true" />

<gap:plugin name="com.phonegap.plugins.ChildBrowser" />



<!-- Define app icon MAIN ROOT Platform. -->

<icon src="icon.png" />


<!-- Define app icon ANDROID Platform. -->


<icon src="icons/android/icon-36-ldpi.png" gap:platform="android" gap:density="ldpi" />

<icon src="icons/android/icon-48-mdpi.png" gap:platform="android" gap:density="mdpi" />

<icon src="icons/android/icon-72-hdpi.png" gap:platform="android" gap:density="hdpi" />

<icon src="icons/android/icon-96-xhdpi.png" gap:platform="android" gap:density="xhdpi" />


<!-- Define app splash screen for ANDROID platform. -->


<gap:splash src="splash/android/screen-ldpi-portrait.png" gap:platform="android" gap:density="ldpi" />

<gap:splash src="splash/android/screen-mdpi-portrait.png" gap:platform="android" gap:density="mdpi" />

<gap:splash src="splash/android/screen-hdpi-portrait.png" gap:platform="android" gap:density="hdpi" />

<gap:splash src="splash/android/screen-xhdpi-portrait.png" gap:platform="android" gap:density="xhdpi" />

<gap:splash src="splash/android/screen-mdpi-portrait-l.png" gap:platform="android" width="600" height="1024" />


<accesss origin="*" />

</widget>